* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'David Libre', serif;
}

.about-me img {
  float: left;
  margin: 1em;
  color: #5a5a5a;
}


.page-header1 {
  padding: 20px;
  font-family: 'David Libre', serif;
  color: #ffffff;
  font-size: 48px;
  width: 95%;
  height: 10%;
}

body {
  background-image: url(https://www.pngkit.com/png/full/63-639197_fundal-adobe-peach-petals-festival-flowers-fall-falling.png);
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.page-header2 {
  padding: 10px;
  font-family: 'David Libre', serif;
  background-color: #632d2d;
  color: #ffffff;
}

.page-header3 {
  padding: 10px;
  font-family: 'David Libre', serif;
  color: #ffffff;
  font-size: 48px;
  width: 95%;
  height: 10%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFF0F5;
  color: white;
  text-align: center;
}

.navbar-nav {
  margin-left: 65em;
  background: #807070;
}

.container {
  background: rgba(162, 142, 167, 0.8);
  color: #f7ecec;
  font-size: 18px;

}

.about-me {
  padding: 30px;
}

#navbar {
  background-color: #FFF0F5;
}

footer {
  background-color: #FFF0F5;
}
